.carrorecuadros{
  display: block;
  background-color: black;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  width: 278px;
  padding-left: 20px;
}

.carrocont{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;

}